<!-- Main Content -->
<section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex flex-col gap-4">
    <!-- Title and Uploader -->
    <h1 class="font-bold mb-2 text-3xl">{{clip?.title}}</h1>
    <div class="text-gray-400 mb-6">
      Uploaded By {{clip?.displayName}} on
      <span>{{clip?.timeStamp | fbTimestamp}}</span>
      <!-- Video Editor -->
    </div>
    <div data-vjs-player class=" relative aspect-w-16 aspect-h-9 overflow-hidden " crossorigin>
      <video #videoPlayer crossorigin controls class=" video-js w-full vjs-theme-forest mx-auto relative overflow-hidden " >
        <source [src]="" type="" />
      </video>
    </div>

  </div>
</section>

<!-- More Clips -->
<div class="container mx-auto my-8">
  <h2 class="mt-6 text-2xl">More Clips</h2>

  <!-- Video List -->
  <app-clips-list [scrollabe]="false"></app-clips-list>
</div>
